{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBinding": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "spread": true,
        "templateStrings": true,
        "jsx": true
    },
    "rules": {
        "strict": [2, "safe"],
        "semi": 2,
        "eqeqeq": 2,
        "curly": 2,
        "default-case": 2,
        "no-caller": 2,
        "no-else-return": 2,
        "no-eval": 2,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 1,
        "no-implied-eval": 2,
        "no-labels": 2,
        "no-loop-func": 2,
        "no-unused-expressions": 2,
        "no-with": 2,
        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-undef": 2,
        "no-undefined": 2,
        "no-undef-init": 2,
        "no-use-before-define": [2, "nofunc"],
        "quotes": [2, "double"],
        "yoda": 2
    },
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "worker": true,
        "amd": true,
        "mocha": true,
        "jasmine": true,
        "jest": true,
        "phantomjs": true,
        "protractor": true,
        "qunit": false,
        "jquery": true,
        "prototypejs": false,
        "shelljs": false,
        "meteor": false,
        "mongo": true,
        "webextensions": false,
        "es6": true
    },
    "globals": {
        "angular": true
    }
}
